.container{
    display: flex;    
    margin-top: 50px;
    justify-content: center;
    align-items: center;       
   }

   .imgCont{
    display: grid;
    grid-template-columns: auto auto auto;
   
   }
   .imgCont div{
    
    height: 20%;
   }
   img{
    border: 2px solid red;
    overflow:hidden;
    max-width: 100%;
    height: auto;
   }
